@import url("../lib/sm2/bar-ui/css/bar-ui.css");
@import url("../node_modules/font-awesome/css/font-awesome.min.css");
/*@import url("/Users/travis/Documents/Git/embed/lib/sm2/bar-ui/css/bar-ui.css");*/


.creek-loading-bar { position:fixed; top:0; left:0; width:1%; height: 2px; background: #fff; box-shadow: 0 0 20px #fff; display:none; z-index: 9999999999; opacity:1; }
.creek-loading-bar-visible { display:block;}



/* Global */

.clearfix { overflow:auto; }
.creek-page-container { overflow:auto; }
.creek-hide { display: none !important; }

.sm2-bar-ui {
 font-size: 16px;
}
.sm2-bar-ui .sm2-main-controls,
.sm2-bar-ui .sm2-playlist-drawer {
 background-color: #f4f4f4;
}
.sm2-bar-ui .sm2-inline-texture {
 background: transparent;
}
.sm2-bar-ui p {
 font-size: 16px;
}
.sm2-bar-ui p::before {display:none !important;}
.sm2-bar-ui p { margin: 0 !important; }



/* -----------------------------------

  Audio player

-------------------------------------- */

/* Hide the player by default, since it will be replaced by SM2 player (rather than flashing the audio player for a second before the SM2 player kicks in). */
audio.creek-audio-player {
  display:none;
}


/* -----------------------------------

  Audio toolbar

-------------------------------------- */


#creek-audio-toolbar {
  /*border-top:1px solid #000;*/
  position:fixed;
  z-index:999999;
  bottom: 0;
  left:0;
  width:100%;
  background: rgba(255,255,255,1);
  /*box-shadow: 0 0 8px rgba(0,0,0,.2);*/
  /*height:200px;*/
  font-size:18px;
  line-height: 140%;
  min-height:64px;
}
#creek-audio-toolbar .creek-audio-toolbar-container { padding: 10px 20px; }
#creek-audio-toolbar .creek-audio-toolbar-inner { padding: 10px 20px; max-width: 1100px; margin: 0 auto; }
#creek-audio-toolbar .creek-audio-toolbar { float:none; }
#creek-audio-toolbar div.creek-audio-info { float:none; }
#creek-audio-toolbar-spacer {
  /*height:80px;*/
}
#creek-audio-toolbar .creek-track {
  overflow:hidden;
}

#creek-audio-toolbar .creek-audio-toolbar-container { padding: 10px 20px; }

/*#creek-audio-toolbar .creek-audio-pause-icon, #creek-audio-toolbar .creek-audio-play-icon  { color:#000; }*/


#creek-audio-toolbar .creek-audio-main-button { float:left; font-size:20px; }
#creek-audio-toolbar .creek-audio-switch-to-live { float:left; font-size:14px; border: 1px solid #ccc; color: #999; border-radius: 4px; padding: 4px 8px; margin: 0 10px 8px 0;  }
#creek-audio-toolbar .fa-stack { line-height: 100%; }

.creek-audio-show-image { float:left; display:none; }
.creek-audio-has-show-image .creek-audio-show-image { display:block; }



/* Toggle visibility of audio toolbar. */
#creek-audio-toolbar { display:none; }
body.creek-audio-toolbar-visible #creek-audio-toolbar { display:block; }
body.creek-audio-toolbar-visible #creek-audio-toolbar { display:block; }
body.creek-audio-toolbar-visible #creek-audio-toolbar-spacer { display:block; }

/* Audio Ready: */
#creek-audio-toolbar .creek-audio-play-icon { display:inline-block; }
#creek-audio-toolbar .creek-audio-loading-icon { display:none; }
#creek-audio-toolbar .creek-audio-pause-icon { display:none; }

/* Audio loading: */
body.creek-audio-loading #creek-audio-toolbar .creek-audio-play-icon { display:none; }
body.creek-audio-loading #creek-audio-toolbar .creek-audio-loading-icon { display:inline-block; }
body.creek-audio-loading #creek-audio-toolbar .creek-audio-pause-icon { display:none; }

/* Audio Playing: */
body.creek-audio-playing #creek-audio-toolbar .creek-audio-play-icon { display:none; }
body.creek-audio-playing #creek-audio-toolbar .creek-audio-loading-icon { display:none; }
body.creek-audio-playing #creek-audio-toolbar .creek-audio-pause-icon { display:inline-block; }

/* Toggle visibility of show image. */
#creek-audio-show-image { display:none; }
body.creek-audio-has-show-image #creek-audio-show-image { display:inline-block; }

/* Toggle visibility of volume buttons and toolbar. */
body.creek-audio-volume-visible .creek-audio-volume-button-open { display:none; }
body.creek-audio-volume-visible .creek-audio-volume-button-close { display:inline-block; }
body.creek-audio-volume-visible #creek-audio-volume-tool { display:block !important; }


.creek-audio-volume-button { float:right; display:block; font-size:30px; padding: 10px; }
body .creek-audio-volume-button-close { display:none; }

#creek-audio-volume-tool {
  display: none;
  position:relative;
  z-index: 9999999;
  background: #fff;
  opacity: 1;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  padding: 8px;
  margin: -184px 7px 0 0;
  float:right;
  clear:right;
}
#creek-audio-volume-tool .bar {
  position: relative;
  width: 14px;
  height: 100px;
  background: #000;
}
#creek-audio-volume-tool .bar:hover {
  cursor: pointer;
}
#creek-audio-volume-tool .filler {
  background: #ddd;
  position: absolute;
  bottom: 0;
  width: 14px;
  left: 0;
  border-top: 2px solid #fff;
  height: 93px;
}



/* -----------------------------------

  Content pages

-------------------------------------- */

h1.creek-title { margin: 0 0 20px 0; }



/* -----------------------------------

  Shows

-------------------------------------- */

.creek-page-show .creek-featured-image { float:right; padding:0 0 20px 20px; }
.creek-page-show .creek-featured-image img { max-width: 400px; }
.creek-page-show .creek-image-container img { max-width:240px; float:right; margin: 0 0 10px 20px }
.creek-page-show .creek-airtimes-container {margin: 0 0 20px 0; padding:0; }
.creek-page-show .creek-airtimes-container ul {margin: 0 0 0px 0; padding:0; }
.creek-page-show .creek-airtimes-container li {list-style:none; margin: 0 0 0px 0;}
.creek-page-show .creek-hosts-container {margin: 0 0 20px 0;}
.creek-page-show .creek-hosts-container ul { padding:0; margin:0; }
.creek-page-show .creek-hosts-container li { display:inline-block; list-style: none; }
.creek-page-show .creek-broadcasts-container {}
.creek-page-show .creek-broadcasts-container ul {list-style:none;margin:0;}
.creek-page-show .creek-broadcast { overflow: auto; margin: 0 0 0px 0; padding:12px 0; border-top: 1px solid rgba(0,0,0,.1); }
.creek-page-show .creek-broadcast .creek-image-container {float:left;}
.creek-page-show .creek-broadcast .image {float:left;}
.creek-page-show .creek-broadcast .image img { max-width: 100px; height: auto; }
.creek-page-show .creek-broadcast .creek-image-container img { margin: 0 20px 10px 0; }


/* -----------------------------------

  Broadcasts

-------------------------------------- */

.creek-page-broadcast .creek-featured-image { float:right;}
.creek-page-broadcast .creek-image-container img { max-width:240px; float:right; margin: 0 0 10px 20px }
.creek-page-broadcast .creek-text { margin: 0 0 30px 0; }
.creek-page-broadcast .creek-media-audio-container { margin: 0 0 30px 0; }



/* -----------------------------------

  Archives

-------------------------------------- */

.creek-broadcasts .creek-info a { display:block; }
.creek-broadcasts .creek-broadcast { padding:10px; overflow:auto; }
.creek-broadcasts .creek-image { display:block; float:left; margin: 0 10px 0 0  }
.creek-broadcasts .creek-image img {max-width: 90px; height:auto; }


/* -----------------------------------

  Playlists

-------------------------------------- */

.creek-playlist { border: 1px solid #ddd; padding:10px; margin: 0 0 20px 0; }
.creek-playlist ul { padding:0; margin:0; }
.creek-playlist li.creek-track { list-style: none; }
.creek-playlist .creek-track-time { margin-right:10px; color:#999; }
.creek-playlist .creek-track-title { font-weight:bold; }
.creek-playlist .creek-track-artist { font-weight:bold; }
.creek-playlist .creek-track-link { color:#999; margin:0 0 0 10px; text-decoration: underline; }
.creek-playlist .creek-track-link:hover { color:#000; }

/* -----------------------------------

  Media

-------------------------------------- */

.creek-media-attachments-container { margin: 0 0 20px 0; }


/* -----------------------------------

  Hosts

-------------------------------------- */

.creek-page-host .creek-featured-image { float:right;}
.creek-page-host .creek-image { float:right; }
.creek-page-host .creek-image img { max-width:240px; float:right; margin: 0 0 10px 20px }
.creek-page-host .creek-text { margin: 0 0 30px 0; }
.creek-page-host .creek-shows-container { margin:0 0 20px 0; padding:0; }
.creek-page-host .creek-shows-container ul { margin:0; padding:0; }
.creek-page-host .creek-shows-container li { margin:0 0 6px 0; padding:0; list-style:none; }


/* -----------------------------------

  Schedule

-------------------------------------- */

.creek-shows-container .creek-weekdays { margin: 0 0 20px 0; }
.creek-shows-container .creek-weekdays ul { margin: 0; padding: 0; }
.creek-shows-container .creek-weekdays ul li { list-style:none; }
.creek-shows-container .creek-weekdays .creek-weekday { display:inline-block; margin: 0 10px 0 0; padding: 8px 12px; }
.creek-shows-container .creek-weekdays .creek-weekday a { text-decoration: none; }
.creek-shows-container .creek-weekdays .creek-weekday a:hover { }
.creek-shows-container .creek-weekdays .creek-weekday.selected { background: #fff; border-radius: 4px; box-shadow: 0 2px 4px rgba(0,0,0,.2); padding: 7px 11px; }
.creek-shows-container .creek-shows-find { margin: 0 0 20px 0; }
.creek-shows-container .creek-shows .creek-show { display:inline-block; vertical-align: top; width:210px; text-align:center; border-radius: 4px; margin: 0 20px 20px 0; background: #fff; box-shadow: 0 2px 4px rgba(0,0,0,.2) }
.creek-shows-container .creek-shows .creek-show .creek-time-container { padding:6px 10px; border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.creek-shows-container .creek-shows .creek-show .creek-image-container { padding:8px 10px; overflow:hidden; float:none; text-align:center; }
.creek-shows-container .creek-shows .creek-show .creek-image-container img { float:none; display:inline; }
.creek-shows-container .creek-shows .creek-show .creek-hosts-container {margin: 0 0 8px 0;}
.creek-shows-container .creek-shows .creek-show .creek-hosts-container ul { padding:0; margin:0; }
.creek-shows-container .creek-shows .creek-show .creek-hosts-container li { display:inline-block; list-style: none; font-size:.9em; margin: 0 8px 0; }
.creek-shows-container .creek-shows .creek-show .creek-grouped-image-container { padding:10px 10px; overflow:hidden; }
.creek-shows-container .creek-shows .creek-show .creek-grouped-image-container img { height:150px !important; float:none; }
.creek-shows-container .creek-shows .creek-show .creek-grouped-image-container .creek-grouped-image img { display:none; }
.creek-shows-container .creek-shows .creek-show .creek-grouped-image-container .creek-grouped-image:first-child img { display:inline-block; }
.creek-shows-container .creek-shows .creek-show .creek-info-container { padding:0px 12px 16px 12px; }
.creek-shows-container .creek-shows .creek-show .creek-show-group-titles h3 .creek-show-group-title .creek-show-group-titles-divider { color: #999; margin: 0 10px; }
.creek-shows-container .creek-shows .creek-show .creek-show-group-titles h3 .creek-show-group-title:first-child .creek-show-group-titles-divider { display:none; }
.creek-shows-container .creek-shows .creek-show h3 { margin: 0 0 10px 0; font-size: 15px; font-weight: 600; line-height: 130%; }
.creek-shows-container .creek-shows .creek-show h3 a { text-decoration: none; }


.creek-broadcasts-container .creek-broadcast .creek-info { margin: 0 0 10px 0; }
.creek-broadcasts-container .creek-broadcast .creek-info .creek-time { font-size: 14px; }
.creek-broadcasts-container .creek-broadcast .creek-info .creek-title { font-weight:600; }

.creek-broadcasts-container .creek-broadcast { clear:both; }


.creek-show-schedule { border-top: 1px solid rgba(0,0,0,.1); border-left: 1px solid rgba(0,0,0,.1); font-size: 14px;  }
.creek-show-schedule .creek-cell-empty, .creek-show-schedule .creek-cell-show, .creek-show-schedule .creek-row-time, .creek-show-schedule .creek-weekday, .creek-show-schedule .creek-corner { border-right: 1px solid rgba(0,0,0,.1); border-bottom: 1px solid rgba(0,0,0,.1); padding: 10px;  }
.creek-show-schedule .creek-cell-empty {  }
.creek-show-schedule .creek-cell-show { }



/* -----------------------------------

  Overrides

-------------------------------------- */

.creek-current-show-label { color: #999; border: 1px solid #ddd; padding: 0px 8px; margin: -2px 8px 0 0; display:inline-block; font-size: 14px;  }

input.picker__input[readonly]:hover { cursor:pointer !important }

.creek-audio-mode-file .creek-current-show-label { display:none; }

.creek-page-show .creek-social-buttons { margin: 30px 0; }
.creek-page-show .creek-broadcast .creek-social-buttons { margin: 0 0 30px 0; }
.creek-page-show .creek-broadcast .creek-time { display:none; }

.creek-shows-container .creek-shows .creek-show { border: 1px solid rgba(0,0,0,.14); box-shadow: none; }
.creek-shows-container .creek-weekdays .creek-weekday.selected { border: 1px solid rgba(0,0,0,.14); box-shadow: none; }


.sm2-bar-ui .sm2-main-controls, .sm2-bar-ui .sm2-playlist-drawer {
    background: rgba(0,0,0,.1);
}

.creek-page-container p {
  padding:inherit;
}

.sm2-bar-ui { margin: 0 0 20px 0; }



/* -----------------------------------

  Social Buttons

-------------------------------------- */

.creek-social-buttons { margin: 0 0 10px 0; }
.creek-social-button { color:#fff; padding:4px 10px; border-radius: 3px; position:relative; z-index: 2; margin: 0 10px 0 0; display:inline-block; }
.creek-social-button .fa { margin-right: 3px; }
.creek-social-button:hover { opacity: 0.8; cursor:pointer; }
.creek-social-button-twitter { background: #4099FF; }
.creek-social-button-facebook { background: #3b5998; }
.creek-social-button-email { background: #777; }

.creek-social-email-box { z-index:100; position: absolute; padding:10px; border-radius:4px; top: 0; left: 0; background:#fff; box-shadow: 0 2px 8px rgba(0,0,0,.1) }
.creek-social-email-box p { margin: 0 0 10px 0; white-space: nowrap; font-size:14px; }
#creek-email-link {
  display:block !important;
  box-sizing: border-box;
  border: 1px solid #ddd !important;
  padding: 8px 12px !important;
  margin: 0 0 10px 0 !important;
  width: 100%;
  height:auto;
}
.creek-close { display:block; border: 1px solid #ddd; border-bottom: 2px solid #ddd; padding: 4px 12px; text-align:center; border-radius: 4px; }
.creek-close:hover { cursor:pointer; border-color: #ccc; }

.creek-feed-container { margin: 0 0 10px 0; }
.creek-feed-button { color:#fff; padding:4px 10px; border-radius: 3px; position:relative; z-index: 2; margin: 0 10px 0 0; display:inline-block; background: #555; }
.creek-feed-button .fa { margin-right: 3px; }
.creek-feed-button:hover { opacity: 0.8; cursor:pointer; }

/* -----------------------------------

  Persistence

-------------------------------------- */

body.creek-persist-reset-body-css {
  padding: 0 !important;
  margin: 0 !important;
}

body.creek-persist-reset-body-css:before {
  display: none !important;
  content: '' !important;
}
body.creek-persist-reset-body-css:after {
  content: '' !important;
  display: none !important;
}
