

.creek-shows-container .creek-shows .creek-show .creek-image-container { padding:14px 10px; overflow:hidden; float:none; text-align:center; }
.creek-shows-container .creek-shows .creek-show .creek-image-container img { float:none; display:inline; }

.creek-shows-container .creek-shows-find input { display:block; box-sizing: border-box; width:100%; border: 2px solid #ddd; padding: 8px 10px; font-size: 16px; border-radius: 4px; }
.creek-shows-container .creek-weekdays .creek-shows-all { font-weight: bold; }

.creek-hosts-container li { margin-right: 10px; }

#creek-audio-toolbar {
  display:none;
  /*border-top:1px solid #000;*/
  position:fixed;
  z-index:999999;
  bottom: 0;
  left:0;
  width:100%;
  background: #fff;
  /*box-shadow: 0 0 8px rgba(0,0,0,.2);*/
  box-shadow: none;
  /*box-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  /*border: 1px solid #ccc;*/
  /*height:200px;*/
  font-size:18px;
  line-height: 140%;
  min-height:64px;
  border-top: 1px solid #ccc;
}
#creek-audio-toolbar a { color:#09f; text-decoration: none; }
#creek-audio-toolbar a:hover { color:#000; text-decoration: none; }
#creek-audio-toolbar .creek-audio-toolbar-container { padding: 10px 20px; }
#creek-audio-toolbar .creek-audio-toolbar-inner { padding: 0px 0; max-width: 1100px; margin: 0 auto; }
#creek-audio-toolbar .creek-audio-toolbar { float:none; }
#creek-audio-toolbar div.creek-audio-info { float:none; }
#creek-audio-toolbar-spacer {
  /*height:80px;*/
}

#creek-audio-toolbar .creek-audio-toolbar-container { padding: 10px 20px; }

#creek-audio-toolbar .creek-audio-main-button {
  float:left;
  font-size:20px;
  /*border: 1px solid #ddd; */
  padding: 12px 0px;
  border-top:0;
  border-bottom:0;
  border-right:0;
  /*margin: 0 10px 0 0;*/
}

/*#creek-audio-toolbar .creek-audio-pause-icon, #creek-audio-toolbar .creek-audio-play-icon  { color:#000; }*/
#creek-audio-toolbar .creek-audio-pause-icon { display:none; }


#creek-audio-toolbar .creek-audio-switch-to-live { float:left; font-size:14px; border: 1px solid #ccc; color: #999; border-radius: 4px; padding: 4px 8px; margin: 0 10px 8px 0;  }
#creek-audio-toolbar .fa-stack { line-height: 100%; }

#creek-audio-toolbar .creek-live-data { padding:10px 0; }

#creek-audio-toolbar .creek-track {
  font-size: 15px;
  color: #999;
  overflow:hidden;
}

#creek-audio-toolbar .creek-audio-show-image { margin: 0 10px 0 0; padding:10px 4px; }
#creek-audio-toolbar .creek-audio-show-image img { max-width:50px; max-height:50px; height:auto; width:auto; }

.creek-audio-volume-button {
  float:right;
  display:block;
  font-size:30px;
  padding: 10px 14px;
}

#creek-audio-volume-tool {
  margin: -184px 12px 0 0;
}

#creek-audio-volume-tool {
  background: #fff;
  box-shadow: none;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px;
}
#creek-audio-volume-tool .bar {
  position: relative;
  width: 14px;
  height: 100px;
  background: #000;
}
#creek-audio-volume-tool .bar:hover {
  cursor: pointer;
}
#creek-audio-volume-tool .filler {
  background: #eee;
  position: absolute;
  bottom: 0;
  width: 12px;
  width: 100%;
  left: 0;
  border: 1px solid #ddd;
  border-top: 4px solid #fff;
  height: 93px;
}
