body {
  background:#ddd;
  padding:0;
  margin:0;
}

body, h1, h2, h3, h4, h5, p, li { font-family: Arial, Helvetica, sans-serif, sans; }

#Creek-Shows { }

.main-container {
  background:#fff;
  box-shadow: 0 3px 8px rgba(0,0,0,.2);
  max-width: 1090px;
  margin: 20px auto 40px auto;
}

nav {
  padding: 20px;
  border-bottom: 1px solid rgba(0,0,0,.1);
  font-size: 16px;
}

nav .title {
  margin: 0 20px 0 0;
  font-weight: bold;
}

nav a, nav span {
  margin: 0 20px 0 0;
}
nav a {
  color: #39f;
}
nav a:hover {
  color: #000;
}


.content {
  overflow: auto;
  padding: 20px;
}
